<div class="page-header text-center">
  <h1><%= @park.name %><small> <%= @park.description %></small></h1>
</div>

<div class="container text-center">
<img src="<%= @park.picture %>" alt="park picture">
</div>
<br>
<div class="text-center">
<a class="btn btn-default" href="/parks">All Parks</a>
</div>
