// change css files to scss files
// add underscore before it
// import in application.scss
// put it after bootstrap if it's a bootstrap theme

.jumbotron {
  background-color: orange;
  box-shadow: 10px;
  -webkit-box-shadow: -1px 7px 16px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 16px -8px rgba(0,0,0,0.75);
box-shadow: -1px 7px 16px -8px rgba(0,0,0,0.75);
}
