<div class="jumbotron">

  <h1>Welcome to National Parks!</h1>

  <img src="http://unsplash.it/800/200" alt="">

  <br><br>

  <%= link_to('/parks') do %>
  <button><strong>View All Parks</strong></button>
  <% end %>
  
</div>
